---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <section class="max-w-6xl mx-auto px-4 py-16">
    <h1 class="text-4xl font-bold mb-8">Próximas Fechas</h1>
    <div class="aspect-video w-full">
      <iframe
        src="https://luma.com/embed/calendar/cal-JKHe1IXunhudh1J/events"
        class="w-full h-full"
        frameborder="0"
        style="border: 1px solid #bfcbda88; border-radius: 4px;"
        allowfullscreen
        aria-hidden="false"
        tabindex="0"
      ></iframe>
    </div>
  </section>
</BaseLayout>